<%- include('../common/head') %>
<body>
    <header>
        <%- include('../common/header') %>
    </header>
    <div class="container">
        <h1>Edit User</h1>
        <div class="Form">
            <form action="/contacts/update/<%= user._id %>" method="POST">
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" name="username" id="username" value="<%= user.username %>" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number:</label>
                    <input type="text" name="contactNumber" id="contactNumber" value="<%= user.contactNumber %>" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" name="email" id="email" value="<%= user.email %>" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Update User</button>
            </form>
        </div>
    </div>
    <footer>
        <%- include('../common/footer') %>
    </footer>
</div>
</body>
</html>
